<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/index.css">
    <script src="/static/Index.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='Index.css') }}">
</head>
<body>


<!-- Create navbar -->
<header class="container">
    <div class="navbar">
        <h1 class="companyname"> 🌤️FLUFFY🌨️FEELINGS⛈️</h1>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Login</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- Main Content -->
<main class="container2">
    <div class="form">
        <form action="/analyze" method="post">
            <label for="user_input">Type your message below to uncover its true sentiment!</label>
            <div class="textarea-wrapper">
                <textarea id="user_input" placeholder="Are you sure you wanna know the truth...?☁️"></textarea>
              </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</main>

{%if result is not none%}
<p>These are the results: {{analysis}}</p>
{%endif%}

<!-- Create footer -->
</body>
</html>